body{
	
  background-color:#afbfbf;
  
}

#left_menu{
	
	padding: 25px;
	
}

/* Admin pictures 
	Creating a flex box system for admin pictures*/

#box_media{
	
	display: flex; /*sets conatiner as a flex item*/
	flex-direction:row;
	flex-wrap:wrap; /*sets flex direction*/
	margin-right:auto; 
	margin-left:auto;
	width:100%;	
	height:100%;
	padding:5px;
	font-size: 0;	/* remove inline-block spacing*/
	
}

.box_img{
	
	display: inline-block;
	width: 220px;
	height: 220px;
	background-color: #c0d6d1;
	margin:5px;
	border-radius: 10px;
    text-align: right;
	overflow: hidden;

}

/*admin_upload.html button img class */

.button_img{
	
   max-width:100%;
   opacity:0; /* Now button is invisible */
     
}

.box_img:hover .button_img{
	
    opacity:1; /* When we hoover .box_img class, .button_img becomes visible */
	
}

.box_img:hover {
	
	/* When we hold the mouse over it resizes that element	*/
     -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
	 
}

/* Admin video flex box system  */


.box_videoclip{
	
	display: inline-block;
	width: 300px;
	height: 220px;
    background-color: #c0d6d1; 
	margin:10px;
	border-radius: 10px;
    text-align: right;
	overflow: hidden;
  
}
	

#box_video{
	
	display: flex; /*sets conatiner as a flex item*/
	flex-direction:row;
	flex-wrap:wrap; /*sets flex direction*/
	margin-right:auto; 
	margin-left:auto;
	width:100%;	
	height:100%;
	padding:0;
	font-size: 0;	/* remove inline-block spacing*/
	
}
