/*JB logo classes*/
.img1{
	
	  position: relative;
	  padding: 30px;
	  /* The animation name is logo, the animation-duration 
		 is 2.5 second and can run infinitely */
	  -webkit-animation: logo 2.5s infinite;
	  -moz-animation: logo 2.5s infinite;
	  animation: logo 2.5s infinite;
	  
}

.img2{
	
	  position: absolute;
	  padding: 30px;
	  
}

/* Navbar logo img */
.img3{
		padding: 5px;
	 -webkit-animation: logo 2.5s infinite;
	 -moz-animation: logo 2.5s infinite;
	 animation: logo 2.5s infinite;
	
}

/*JB logo animation */
@keyframes logo{

	0% {opacity: 1;}
	5% {opacity: 1;}
	10% {opacity: 0.9;}
	15% {opacity: 0.8;}
	20% {opacity: 0.7;}
	25% {opacity: 0.6;}
	30% {opacity: 0.5;}
	35% {opacity: 0.4;}
	40% {opacity: 0.3;}
	45% {opacity: 0.2;}
	50% {opacity: 0.1;}
	55% {opacity: 0;}
	60% {opacity: 0.1;}
	65% {opacity: 0.2;}
	70% {opacity: 0.3;}
	75% {opacity: 0.4;}
	80% {opacity: 0.5;}
	85% {opacity: 0.6;}
	90% {opacity: 0.7;}
	95% {opacity: 0.8;}
	100% {opacity: 0.9;}
	
}

/* -webkit- extension is used for crome, opera and safari browser compatibility */

@-webkit-keyframes logo{

	0% {opacity: 1;}
	5% {opacity: 1;}
	10% {opacity: 0.9;}
	15% {opacity: 0.8;}
	20% {opacity: 0.7;}
	25% {opacity: 0.6;}
	30% {opacity: 0.5;}
	35% {opacity: 0.4;}
	40% {opacity: 0.3;}
	45% {opacity: 0.2;}
	50% {opacity: 0.1;}
	55% {opacity: 0;}
	60% {opacity: 0.1;}
	65% {opacity: 0.2;}
	70% {opacity: 0.3;}
	75% {opacity: 0.4;}
	80% {opacity: 0.5;}
	85% {opacity: 0.6;}
	90% {opacity: 0.7;}
	95% {opacity: 0.8;}
	100% {opacity: 0.9;}
	
}

/* -moz- extension is used for mozila browser compatibility */
@-moz-keyframes logo{

	0% {opacity: 1;}
	5% {opacity: 1;}
	10% {opacity: 0.9;}
	15% {opacity: 0.8;}
	20% {opacity: 0.7;}
	25% {opacity: 0.6;}
	30% {opacity: 0.5;}
	35% {opacity: 0.4;}
	40% {opacity: 0.3;}
	45% {opacity: 0.2;}
	50% {opacity: 0.1;}
	55% {opacity: 0;}
	60% {opacity: 0.1;}
	65% {opacity: 0.2;}
	70% {opacity: 0.3;}
	75% {opacity: 0.4;}
	80% {opacity: 0.5;}
	85% {opacity: 0.6;}
	90% {opacity: 0.7;}
	95% {opacity: 0.8;}
	100% {opacity: 0.9;}
	
}