<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Jonas Brothers</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

	</head>
	
	
<body>
   <!--Admin dashboard page-->
    
 <footer>
	   
            <div class="text-center">
               Copyright &copy; 2018 JB_music
            </div>
    
     </footer>
</body>
	
</html>