<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Jonas Brothers</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	

	</head>
	
	
<body>
   <!--Admin dashboard news_page-->
   
 <div class="container-fluid">
  <div class="page-header">
    <h1>Jonas Brothers</h1> 
		<p id="admin"></p>
   </div>
   
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">JB_admin_dashboard</a>
			</div>
   		<ul class="nav navbar-nav navbar-right">
           <li><a onclick="logout()" href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
		</ul>
  </div>
</nav>
  
 <div class="row">

	<div class="col-sm-3">
	
	<!-- hidden-xs Hide this menu for small devices -->
	<ul class="nav nav-pills nav-stacked hidden-xs">
    <li><a href="#">Add new's</a></li>
    <li><a href="#">Upload media</a></li>
    <li><a href="#">Plan concerts/Parties</a></li>
  </ul>
	
	</div>
	<div class="col-sm-9">.col-sm-9</div>

 </div>  
  
  <script src="../js/admin.js"></script>    

    
	  <footer>
	               <div class="text-center">
               Copyright &copy; 2018 JB_music
            </div>
    
     </footer>
 </div>
</body>
	
</html>