<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Jonas Brothers</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- My Css file -->
	<link rel="stylesheet" href="../css/admin.css">
	</head>
	
	
<body>
   <!--Admin dashboard news_page-->
   
 <div class="container-fluid">
  <div class="page-header">
    <h1>Jonas Brothers</h1> 
		<p id="admin"></p>
  </div>
   
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin_Navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			 </button>
			  
				<a class="navbar-brand" href="#">JB_admin_dashboard</a>
			</div>
			<div class="collapse navbar-collapse" id="admin_Navbar">
				<ul class="nav navbar-nav navbar-right">
				
				<!-- Bootstrap hidden class is used to hide the menu for large screen devices -->
					 <li class="hidden-lg hidden-md hidden-sm"><a href="admin_news.html">Add new's</a></li>
					 <li class="hidden-lg hidden-md hidden-sm"><a href="admin_upload-media.html">Upload media</a></li>
					 <li class="hidden-lg hidden-md hidden-sm"><a href="admin_plans.html">Plan concerts/Parties</a></li>
				
				<li><a onclick="logout()" href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
  </div>
</nav>
  
 <div class="row">

	<div class="col-sm-3">
	
	<!-- hidden-xs Hide this menu for small devices -->
	<ul id="left_menu" class="nav nav-pills nav-stacked hidden-xs">
     <li><a href="admin_news.html">Add new's</a></li>
     <li><a href="admin_upload-media.html">Upload media</a></li>
     <li><a href="admin_plans.html">Plan concerts/Parties</a></li>
  </ul>
	
	</div>
	<div class="col-sm-9">
	
	
	
	  <!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">add news</button>
		<hr>
	
  <!-- addNews Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">add news</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
    
	<form id="myform">
	<input class="input-group form-control"  id="title" type="text"/><br/>
	<input class="input-group form-control"  id="date"  type="date"/><br/>
	<textarea class="input-group form-control" id="message"></textarea><hr>
	<button class="btn btn-success" onclick="addnews()">add</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</form>
	<div class="modal-footer">
   
	</div>
  </div>
        </div>
        
        </div>
      </div>
      
    </div>
	
		<!-- modal edit -->
	<div class="modal fade" id="edit" role="dialog">
     <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">edit news</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
    <div class="modal-footer">
	<form id="myform">
	<input class="input-group form-control"  id="edit_title" type="text"/><br/>
	<input class="input-group form-control"  id="edit_date"  type="text"/><br/>
	<textarea class="form-control" rows="5" id="edit_message"></textarea><hr>
	<button class="btn btn-success" id="button">edit</button>
	
     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</form>
	</div>
    </div>
           </div>
        
        </div>
      </div>
      
    </div>
  
  <div id="news_dashboard"></div>
  </div>
  </div>
  </div> 
  <!-- My java script files -->
  <script src="../js/admin_script.js"></script>  
  <script src="../js/admin.js"></script> 
  <script>
	/*-- Xmlhttprequest is used to send data to php file  this method
		works only on the server the same as php script */
		
   function save_newstofile(){
	/* The ingormation from localStorage is converted to string with 
	JSON.stringify method and sent to php file*/
	var data = 'data='+JSON.stringify(localStorage.getItem('obj'));
	
	var xmlhttp = new XMLHttpRequest();

	xmlhttp.open("POST","../php/save.php",true);
        //Must add this request header to XMLHttpRequest request for POST
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.send(data);
}


 save_newstofile(); 
  </script>
    
	  <footer>
	               <div class="text-center">
               Copyright &copy; 2018 JB_music
            </div>
    
     </footer>
 </div>
</body>
	
</html>