<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Jonas Brothers</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- My Css file -->
	<link rel="stylesheet" href="../css/admin.css">
	</head>
	
	
<body>
   <!--Admin dashboard news_page-->
   
 <div class="container-fluid">
  <div class="page-header">
    <h1>Jonas Brothers</h1> 
		<p id="admin"></p>
   </div>
   
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin_Navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			 </button>
			  
				<a class="navbar-brand" href="#">JB_admin_dashboard</a>
			</div>
			<div class="collapse navbar-collapse" id="admin_Navbar">
				<ul class="nav navbar-nav navbar-right">
				
				<!-- Bootstrap hidden class is used to hide the menu for large screen devices -->
					 <li class="hidden-lg hidden-md hidden-sm"><a href="admin_news.html">Add new's</a></li>
					 <li class="hidden-lg hidden-md hidden-sm"><a href="admin_upload-media.html">Upload media</a></li>
                     <li class="hidden-lg hidden-md hidden-sm"><a href="admin_plans.html">Plan concerts/Parties</a></li>
				
				<li><a onclick="logout()" href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
  </div>
</nav>
  
 <div class="row">

	<div class="col-sm-3">
	
	<!-- hidden-xs Hide this menu for small devices -->
	<ul id="left_menu" class="nav nav-pills nav-stacked hidden-xs">
    <li><a href="admin_news.html">Add new's</a></li>
    <li><a href="admin_upload-media.html">Upload media</a></li>
    <li><a href="admin_plans.html">Plan concerts/Parties</a></li>
  </ul>
	
	</div>
	<div class="col-sm-9">
	
	<h2>Plan concerts/Parties</h2>
	
	  <!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">adds an event</button>
		<hr>
	
  <!-- adds an event Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">adds an event</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
    
	<form id="myform_events">
	<input class="input-group form-control"  id="event_type" type="text" placeholder="Event type" required/><br/>
	<div class="row">
		 <div class="col-sm-9">
	<input class="input-group form-control"  id="event_date"  type="date" placeholder="Event date"/><br/>
	     </div>
		 
		 <div class="col-sm-3">
	<input class="input-group form-control"  id="event_time"  type="time" placeholder="Event time"/><br/>
	     </div>
	</div>
	<textarea class="form-control" rows="5" id="event_description" placeholder="Event description" required></textarea><hr>
	<button class="btn btn-success" onclick="add_event()">add</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</form>
	<div class="modal-footer">
   
	</div>
	</div>
        </div>
        </div>
		</div>
       </div>
	   
	    <!-- Edit an event Modal -->
  <div class="modal fade" id="edit_event_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">adds an event</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
    
	<form id="myform_edit events">
	<input class="input-group form-control"  id="edit_event_type" type="text" placeholder="Event type" required/><br/>
	<div class="row">
		 <div class="col-sm-9">
	<input class="input-group form-control"  id="edit_event_date"  type="text" placeholder="Event date"/><br/>
	     </div>
		 
		 <div class="col-sm-3">
	<input class="input-group form-control"  id="edit_event_time"  type="text" placeholder="Event time"/><br/>
	     </div>
	</div>
	<textarea class="form-control" rows="5" id="edit_event_description" placeholder="Event description" required></textarea><hr>
	<button class="btn btn-success" id="edit_event_button">add</button>
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</form>
	<div class="modal-footer">
   
	</div>
	</div>
        </div>
        </div>
		</div>
       </div>
	   
	   <div id="admin_events"><div>
	   
    </div>

 </div>  
  
  <!-- My java script files -->
  <script src="../js/admin.js"></script>
  <script src="../js/admin_plans.js"></script>

    
	  <footer>
	               <div class="text-center">
               Copyright &copy; 2018 JB_music
            </div>
    
     </footer>
 </div>
</body>
	
</html>