<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	
	<!--We use the viewport meta tag to control layout on mobile browsers-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Jonas Brothers</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- My Css file -->
	<link rel="stylesheet" href="../css/admin.css">
	</head>
	
	
<body>
   <!--Admin dashboard news_page-->
   
 <div class="container-fluid">
  <div class="page-header">
    <h1>Jonas Brothers</h1> 
		<p id="admin"></p>
   </div>
   
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
			
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin_Navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			 </button>
			  
				<a class="navbar-brand" href="#">JB_admin_dashboard</a>
			</div>
			<div class="collapse navbar-collapse" id="admin_Navbar">
				<ul class="nav navbar-nav navbar-right">
				
				<!-- Bootstrap hidden class is used to hide the menu for large screen devices -->
					 <li class="hidden-lg hidden-md hidden-sm"><a href="admin_news.html">Add new's</a></li>
					 <li class="hidden-lg hidden-md hidden-sm"><a href="admin_upload-media.html">Upload media</a></li>
					 <li class="hidden-lg hidden-md hidden-sm"><a href="admin_plans.html">Plan concerts/Parties</a></li>
				
				<li><a onclick="logout()" href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
				</ul>
			</div>
  </div>
</nav>
  
 <div class="row">

	<div class="col-sm-3">
	
	<!-- hidden-xs Hide this menu for small devices -->
	<ul id="left_menu" class="nav nav-pills nav-stacked hidden-xs">
     <li><a href="admin_news.html">Add new's</a></li>
     <li><a href="admin_upload-media.html">Upload media</a></li>
     <li><a href="admin_plans.html">Plan concerts/Parties</a></li>
  </ul>
	
	</div>
	<div class="col-sm-9">
	
	<h2>Upload media</h2>
	
			<!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_YouTube">Upload a YouTube video</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal_YouTube" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload a YouTube video</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="" enctype="multipart/form-data">
              <p><span>E.g:</span>https://youtu.be/6N5V_7_n1uI</p>
          <input type="text" name="fileToUpload" id="youtube"  placeholder="Add a valid YouTube link">
          <input type="submit" value="upload video" onclick="add_youtube_video();send_youtube_tophpfile();">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	
	<!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_video">Upload a video</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal_video" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload a video</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="../php/upload_video.php" enctype="multipart/form-data">
          <input type="file" name="fileToUpload" id="videoclip"  accept="video/*"/>
          <input type="submit" value="upload video" onclick="add_video();send_video_tophpfile()">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
    <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_picture">Upload a picture</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal_picture" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload a picture</h4>
        </div>
        <div class="modal-body">
          <form method="post" action="../php/upload_picture.php" enctype="multipart/form-data">
          <input type="file" name="fileToUpload" id="picture" accept="image/*"/>
          <input type="submit" value="Upload Image" name="submit" onclick="add_picture();send_picture_tophpfile();">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	<!-- When the Pictures button si clicked video content will hide and show pictures content 
		when Video button is clicked pictures content will hide nd show videos-->
	<button id="pictures_show" class="btn btn-info btn-lg">Pictures</button>
	<button id="video_show" class="btn btn-info btn-lg">Videos</button>
	<button id="youtube_video_show" class="btn btn-info btn-lg">YouTube videos</button>
	<hr>
	<div>
	<div id="pic"><p>Pictures</p></div>
    <div id="vid"><p>Videos</p></div>
    <div id="tube"><p>Tube videos</p></div>
    </div>
   
</div>
	
	</div>

   
  <!-- My java script -->
  <script src="../js/admin.js"></script>
  <script src="../js/media_upload.js"></script>
  <script src="../js/show_hide.js"></script>
   <script>
  
  /*-- Xmlhttprequest is used to send data to php file  this method
		works only on the server the same as php script */

    function sendtophpfile(location, message){
	
	var data = 'data='+message;
	
	var xmlhttp = new XMLHttpRequest();

	xmlhttp.open("POST",location,true);
        //Must add this request header to XMLHttpRequest request for POST
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.send(data);
}

  /* Save to server location db file files/pictures.js */ 
 // sendtophpfile("../php/save2.php", JSON.stringify(localStorage.getItem('pictures')));
  /* Send media location path to be deleted */
    sendtophpfile("../php/delete_media.php",JSON.parse(localStorage.getItem('remove_path')));
 
  /* Save to server location db file files/videos.js */ 
 // sendtophpfile("../php/save3.php", JSON.stringify(localStorage.getItem('videos')));
  
  
  
    function send_picture_tophpfile(){
	
	var data = 'data='+JSON.stringify(localStorage.getItem('pictures'));
	
	var xmlhttp = new XMLHttpRequest();

	xmlhttp.open("POST","../php/save2.php",true);
        //Must add this request header to XMLHttpRequest request for POST
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.send(data);
}

 function send_video_tophpfile(){
	
	var data = 'data='+JSON.stringify(localStorage.getItem('videos'));
	
	var xmlhttp = new XMLHttpRequest();

	xmlhttp.open("POST","../php/save3.php",true);
        //Must add this request header to XMLHttpRequest request for POST
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.send(data);
}
 
 function send_youtube_tophpfile(){
	
	var data = 'data='+JSON.stringify(localStorage.getItem('youtube'));
	
	var xmlhttp = new XMLHttpRequest();

	xmlhttp.open("POST","../php/save5.php",true);
        //Must add this request header to XMLHttpRequest request for POST
        xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	xmlhttp.send(data);
}
 
 </script>


    
	  <footer>
	               <div class="text-center">
               Copyright &copy; 2018 JB_music
            </div>
    
     </footer>
 </div>
</body>
	
</html>