<h1>Contact</h1>
<hr>
<h3>If you have a question or a suggestion-</h3>
<p>Send an email or letter to our new address in Liverpool.</p>
<p>Yes now we live in the liverpool home of the Beatles :D</p>
<!-- Because it is a project I used my own contact address -->
<h3>Address:</h3>
<p>124, Carisbrooke Road,</p>
<p>Walton,</p>
<p>Liverpool</p>
<p>Postcode:<span>L4 3RB</span></p>
<!-- To send an email from this form I chose the https://formspree.io/  service,
	 because I can send an email without using a script language 
	 e.g. <form action="https://formspree.io/your@email.com"
			method="POST">
			<input type="text" name="name">
			<input type="email" name="_replyto">
			<input type="submit" value="Send">
			</form>
	-->

<div class="form-group contact_form">
<h2>Contact us:</h2>

 <form id="contact_form" action="https://formspree.io/jbmusic_mails@yahoo.com" method="Post">
                <input class="form-control" id="inp_Name" name="name" placeholder="Name" type="text" required /><br/>
               <input class="form-control" id="inp_Email" name="email" placeholder="Email" type="email" required /><br/>
                <textarea class="form-control" rows="5" id="inp_Message" name="message" placeholder="Message" required ></textarea>
                <br/>
                <input type="submit" value="SEND" class="submit" />
                </form>
</div>